.navlinks .item-link:active,
.item-link:focus,
.item-link:visited {
  padding-bottom: 8px;
  border-bottom: 3px solid green;
}

.active:hover {
  opacity: 1;
}

.active {
  color: green;
  opacity: 0.6;
  border-bottom: 3px solid green;
  padding-bottom: 8px;
}
